# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# intellij-stuff
*.iml
.idea/*

# gradle stuff
.gradle/*

# build dir
build/*
out/*
client/build/*

# Rust
procede/Cargo.lock
procede/target/*